<p style="color: green"><%= notice %></p>

<%= render "info", friend: @friend %>

<div>
  <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-primary" %>
  <%= link_to "Return", friends_path, class:"btn btn-primary" %>
</div>
